@model CodeChampsAI.Models.StaticPage
@{
    ViewBag.Title = "PageEdit";
}

<h2>PageEdit</h2>

<div class="container">
    <form method="post">
        <div class="form-group">
            @Html.HiddenFor(m => m.StaticPageId)
            @Html.TextBoxFor(m => m.LinkName, new {@class = "form-control", required = "required"})
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", required = "required" })


              @Html.TextAreaFor(m => m.Body)

            <button type="submit" name="editedPage" class="btn btn-primary">Save</button>
            <input type="button" value="Cancel" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("PageRedirect", "Admin") + "'");" />
            <input type="button" value="Delete" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("DeletePage", "Admin", new { id = this.Model.StaticPageId }) + "'");" />

    </div>
    </form>

</div>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ forced_root_block: "", selector: 'textarea' });</script>